<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="storage" class="by.nc.school.dev.example.spring.mvc.persistence.InmemoryStorage" factory-method="loadStorage">
        <constructor-arg ref="appConfigService"/>
        <property name="appConfigService" ref="appConfigService" />
        <property name="appStringsService" ref="appStringsService" />
    </bean>

    <bean id="userDAO" class="by.nc.school.dev.example.spring.mvc.persistence.UserDAOImpl">
        <property name="storage" ref="storage" />
    </bean>

</beans>